# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
license.py
.idea
KeyManager Test RSA CA_chain.crt
KeyManager Test RSA CA_key.key
_compile_to_exe.cmd
freeioe_Rprogramming.exe
localhost_chain.crt
localhost_key.key
log/log.log.1
log/log.log.2
log/log.log.3
log/log.log.4
log/log.log.5
log/log.log.6
log/log.log.7
log/log.log.8
log/log.log.9
test/
venv
venv/Include/
venv/Scripts/Activate.ps1
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/chardetect.exe
venv/Scripts/deactivate.bat
venv/Scripts/miniterm.py
venv/Scripts/python.exe
venv/Scripts/python3.dll
venv/Scripts/python36.dll
venv/Scripts/pythonw.exe
venv/Scripts/sqlite3.dll
venv/Scripts/tcl86t.dll
venv/Scripts/tk86t.dll
venv/Scripts/vcruntime140.dll
venv/pyvenv.cfg
vnet/tinc/_frpc/frpc.exe
vnet/tinc/_frpc/frpc_Vnet_service.exe
vnet/tinc/_frpc/frpc_Vnet_service.xml
vnet/tinc/_frpc/frpc_start.cmd
vnet/tinc/_frpc/logs/frpc_Vnet_service.err.log.old
vnet/tinc/_frpc/logs/frpc_Vnet_service.out.log.old
vnet/tinc/_install_service.cmd
vnet/tinc/_install_service.exe
vnet/tinc/_uninstall_service.cmd
vnet/tinc/tap-win-xp/
vnet/tinc/tap-win/
vnet/tinc/tincd.exe
vnet/tinc/tofreeioebridge/
vnet/tinc/tofreeioerouter/
_runcode.cmd
